#how-it-works{
  background: $color_light_gray;
}
.how-it-works{
  .title{
    margin: 15% auto;
  }
  .bullet-content{
    .bullte-title{
      margin-top: 0;
    }
  }
}

.why-us-2{
  .rounded-circle{
    border-radius: 50%;
  }
}