.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #646567;
  margin-top: -2px;
}
.styled-checkbox:hover + label:before {
  background: #ED8132;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #ED8132;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #646567;
  margin-top: -2px;
}
.styled-checkbox:hover + label:before {
  background: #ED8132;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #ED8132;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.contact-page {
  color: #646567;
}
.contact-page .footer-top .nav-tabs {
  border: none;
  margin-bottom: 5%;
}
.contact-page .footer-top .nav-tabs .nav-item {
  min-width: 15%;
  margin-right: 5%;
}
.contact-page .footer-top .nav-tabs .nav-item .nav-link {
  border: none;
  padding-left: 0;
  font-size: 25px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #aaa;
}
.contact-page .footer-top .nav-tabs .nav-item .nav-link:hover {
  color: #646567 !important;
  background: tranparent !important;
}
.contact-page .footer-top .nav-tabs .active .nav-link {
  border-bottom: 1px solid #ED8132;
  color: #646567;
}
.contact-page .footer-top input, .contact-page .footer-top textarea {
  border: none;
  box-shadow: 0 0;
  border-bottom: 1px solid #646567;
  border-radius: 0;
  padding-left: 0;
  padding-bottom: 7%;
  height: 50px;
  margin: 25px auto;
}
.contact-page .footer-top input:focus, .contact-page .footer-top textarea:focus {
  outline: none;
}
.contact-page .footer-top textarea {
  height: 125px !important;
  padding: 0 !important;
  padding-top: 0;
}
.contact-page .footer-top .btn-send {
  width: 86%;
  padding: 10px;
  font-size: 25px;
}
.contact-page .footer-top .right-input {
  padding-left: 8%;
}
.contact-page .footer-top .left-input {
  padding-right: 8%;
}
.contact-page .footer-top .checkbox {
  margin: 15px auto;
}
.contact-page .footer-top .checkbox label {
  padding-left: 0;
}
.contact-page .footer-top .german-office-title {
  margin-top: 0;
}
.contact-page .footer-middle, .contact-page .footer-bottom {
  background: #646567;
  padding: 5% 0;
}
.contact-page .footer-middle .left li {
  list-style: none;
}
.contact-page .footer-middle .left li a {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.contact-page .footer-middle .middle img {
  float: left;
  width: 25%;
  margin: 15px auto;
  margin-right: 10px;
}
.contact-page .footer-middle .right p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.contact-page .footer-middle .right input {
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.contact-page .footer-middle .right button {
  background: #ffffff36;
  padding: 10px;
  width: 60%;
}
.contact-page .footer-bottom {
  border: none;
}
.contact-page .footer-bottom .content {
  border-top: 1px solid #ED8132;
  padding-top: 12px;
}
.contact-page .footer-bottom .content p {
  display: inline-block;
  color: #ED8132;
}

#how-it-works {
  background: #E0E4EF;
}

.how-it-works .title {
  margin: 15% auto;
}
.how-it-works .bullet-content .bullte-title {
  margin-top: 0;
}

.why-us-2 .rounded-circle {
  border-radius: 50%;
}

a, a:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold !important;
}

.pp-bg {
  background: #ED8132;
}

.bg_color_1 {
  background: #646567;
  color: #ED8132;
}

.text_color_dark {
  color: #ED8132;
}

.text_color_1 {
  color: #646567;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  -webkit-box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
}

.btn-big {
  font-weight: bold;
  width: 70%;
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
  padding: 15px;
}

.white {
  background-color: #fff;
  color: #ED8132;
}

.caption-title {
  letter-spacing: 3px;
}
.caption-title .title-sm {
  font-size: 35px;
  margin: 0;
}
.caption-title .title-lg {
  font-size: 50px;
}

.title-why-us, .title-contact-us, .title-trendy {
  font-size: 75px;
  font-weight: bold;
  text-align: left;
}

.lets-start-menu {
  background: #ED8132 !important;
  padding: 8px 25px !important;
  border-radius: 20px;
  margin: 20px 0;
  color: #fff !important;
}

header .header-bottom .left-icon {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  width: 10%;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
  vertical-align: middle;
  border: 1px solid #ED8132;
}
header .header-bottom .left-icon img {
  background: #ED8132;
  width: 100%;
}
header .header-bottom img {
  width: 10%;
  background: #ED8132;
  padding: 12px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
}
header .header-bottom h1 {
  display: inline-block;
  vertical-align: middle;
}

.login .btn-login {
  font-weight: bold;
  width: 70%;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  padding: 15px;
}
.login .btn-big {
  font-size: 30px;
}
.login .login-right {
  border-left: 1px solid #fff;
  -webkit-border-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0)) 1 100%;
}
.login .login-right .btn-big {
  width: 90%;
}

.trendy .item span {
  background: #ED8132;
  color: #fff;
  padding: 6px;
  font-size: 10px;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 5px;
}
.trendy .item img {
  padding: 20px;
  background: #aaa;
}
.trendy .ti-arrow-right, .trendy .ti-arrow-left {
  background: #ED8132;
  padding: 6px;
  border-radius: 50%;
}

.why-us .btn-why-us {
  padding: 20px;
  text-align: center;
  width: 30%;
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}
.why-us p {
  text-align: justify;
  font-size: 20px;
}

/*# sourceMappingURL=../css/pp-style.css.map */
